*{
    margin: 0;
    /* padding: 0; */
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}
.navbar{
    /* width:100vw; */
    display: flex;
    height: 65px;
    background-color: #131921;
    color: white;
    justify-content: space-evenly;
}
.navlogo{
    display: inline-block;
    height: 65px;
    width: 145px;
    padding: 15px;
}
.logo{
    display: inline-block;
    height: 38px;
    width: 100%;
    background-image: url("amazon_logo.png");
    background-size:cover;
}

.border{
    border:1px solid transparent ;
}
.border:hover{
    border: 1px solid white;
}
.location{
    
    height: 38px;
    padding-bottom:5px ;
    margin-top: 13px;
}
#p1{
    
    font-size: 12px;
    color: #cccccc;
    padding-left: 17px;
}
#p2{
    font-size: 14px;
    display: inline;
}

.searchbar{
    display: flex;
    padding: 10px 4px 10px 3px;
    margin-left: 8px;
    height: 60px;
    width: 650px;
    /* justify-content: space-evenly; */
}
#select{
    background-color: #e6e6e6;
    width:51px;
    border: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}
#input{
    width: 547px;
    border-radius: 0%;
    border: 0;
}
#search{
    background-color: rgb(250, 105, 53);
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 45px;
    height: 40px;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.langcountry{
    display: flex;
    height: 50px;
    width: 73px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
#flag{
    display: inline;
    padding-right: 3px;
}
#lang{
    display: inline;
}
.login{
    margin:5px 0px 10px 0px;
}
.greeting{
    padding-top: 12px;
    font-size: 12px;
}
.acc{
    font-size: 14px;
}
.orderinfo{
    margin:5px 0px 10px 0px;
}
.yourcart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5px 0px 10px 0px;
    padding-right: 3px;
}
#cart{
    font-size: 26px;
}
.panel{
    height: 39px;
    background-color: #232F3E;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;

}
.all{
    margin: 10px;
    font-size: 15px;
    padding: 10px;
    
}
.panelcon p{
    display: inline;
    font-size: 13px;
    margin: 0px 10px 0px 10px;
    height: 38px;
    padding: 10px;
    
    
}
.panelcon{
    width: 90%;
    /* margin-top: 14px; */
    padding: 10px 0 10px 0;
}
.heroimg{
    background-image: url("pic2.jpg");
    height: 300px;
    width: 1263px;
    background-size:cover;
}
.shop-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 900px;
    /* width: 993px; */
    flex-wrap: wrap;
    background-color: rgb(241, 237, 238);
}
.card{
    background-color: white;
    background-size:auto;
    height: 400px;
    width: 23%;
    padding: 10px 0 15px ;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cardcontent{
    margin: 10px 10px 15px 10px;
}
.cardcontent p{
    font-size: 13px;
    color: #007185;
    margin: 20px;
}
.cimg{
    margin: 10px 10px 20px 10px;
    height: 280px;
    background-size:contain;
    background-repeat: no-repeat;
}
.backtotop{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color:#37475a ;
    color: white;
    font-size: 13px;
}
.foot-panel2{
    background-color: #232F3E;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 380px;
}
.foot-panel2 a{
    text-decoration: none;
    font-size: 14px;
    color: #dddddd;
}
ul{
    list-style-type: none;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.fpcontent{
    margin-top: 30px;
    /* padding-top: 20px; */
}
li{
    display: flex;
    height: 30px;   
}
.fpcontent a:hover{
    text-decoration: solid #dddddd;
}

.foot-panel3{
    background-color: #232F3E;
    height: 150px;
    border-top: solid 1px rgb(139, 139, 139) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo2{
    height:90px;
    width:100px;
    background-image: url("amazon_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 68px;
    margin-right: 20px;
}
.pf3content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.glolang{
   border: 1px solid rgb(100, 100, 100); 
   margin-right: 10px;
   width: 100px;
   border-radius: 5px;
   padding: 5px;
}
#globe{
    color: white;
}
#lanfp3{
    background-color: transparent;
    border: 0;
    width: 65px;
    color: white;
}
.country{
    border: 1px solid rgb(100, 100, 100); 
    color: white;
    width: 120px;
    height: 30px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.foot-panel4{
    background-color: #232F3E;
    color: white;
    font-size: 12px;
}
#line1{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    margin-left: 330px;
}
#line2{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}